# ignore all files in the result/ directory
result/use/

# ignore all files in the original/ directory
original/use/

# google drive api
token.pickle
credentials.json

# ipynb checkpoint
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# DS_Store
.DS_Store
*/.DS_Store/*
